#contacts{
    background: #282c34; 
    padding-bottom: 3%;
}

#contactsTitle{
    display: flex;
    justify-content: flex-start;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}
img{
    width: 20%;
}

#socials{
    width: 25%;
}

#telephone{
    margin-bottom: 3vh;
}


@media (max-width: 400px){
    #contact{
        font-size: small;
    }

}

@media (max-width: 800px){
    #contact{
        font-size: small;
    }

    img{
        width: 30%;
    }

}

