#header{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #282c34;
    justify-items: center;
}
#profilImage{
    width: 40%;
}

#header_links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 18%;
}

.link{
    font-size: x-large;
}


a:hover{
    color: gray;
}

a{
    color: white;
}

@media (max-width : 800px) {
    .link{
        font-size: x-small;
        margin-left: 5%;
    }

    #name{
        width: 10%;
    }
}

@media (max-width : 1200px) {
    .link{
        font-size:2vw;
        margin-left: 5%;
    }

    #name{
        width: 10%;
    }
}